.checkbox.checkbox-inline {
    margin-left: 0;
}

.checkbox input[type="checkbox"]:disabled + label, .checkbox input[type="radio"]:disabled + label {
    opacity: 1
}

/* input[multiple]::after{
    content:"我是 after";
    color:red;
} */


        /* Tooltip */
        .tooltip > .tooltip-inner {
            background-color: #4272d7; 
            color: #FFFFFF; 
            border: 1px solid green; 
            padding: 15px;
            font-size: 20px;
            max-width: 100mm; 
        }
        /* Tooltip on top */
        .tooltip.top > .tooltip-arrow {
            border-top: 5px solid green;
        }
        /* Tooltip on bottom */
        .tooltip.bottom > .tooltip-arrow {
            border-bottom: 5px solid blue;
        }
        /* Tooltip on left */
        .tooltip.left > .tooltip-arrow {
            border-left: 5px solid red;
        }
        /* Tooltip on right */
        .tooltip.right > .tooltip-arrow {
            border-right: 5px solid black;
        }

        label {
            font-weight: inherit;
        }

        @page {
            size: A4;
            margin: 0;
            padding: 0;
            border-width: 0px;
        }

        @media print {
            div[data-class='Page'] {
                margin: 0 !important;
                padding: 0 !important;
                border-width: 0px !important;
                page-break-after: always;
                background-color: #FFFFFF;
                width: 210mm;
                /* height: 296.8mm; */
                overflow: hidden !important;
                position: relative !important;
                /* font-family: standard, kaiu, 標楷體; */
                box-shadow: none !important;
            }

            html {
                margin: 0 !important;
            }

            body {
                margin: 0 !important;
                -webkit-print-color-adjust: exact;
            }

            body>div {
                margin: 0 !important;
                -webkit-print-color-adjust: exact;
            }
        }

/*
.radio input[type="radio"]:disabled + label {
    opacity: 1;
    padding-left: 0px;
}       

.radio input[type="radio"]:disabled:not(:checked) + label {
    display: none;
}

.radio input[type="radio"]:disabled + label::before {
    display: none;
}

.radio input[type="radio"]:disabled + label::after {
    display: none;
}

.radio input[type="radio"]:disabled {
    display: none;
}

.radio-inline-disabled {
    padding-left: 0px;
}

.radio-inline+.radio-inline+.radio-inline-disabled {
    margin-top: 0;
    margin-left: 0px;
}

.radio-inline+.radio-inline-disabled {
    display: inherit;
}
*/